In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "Name": ["Wood","Steve","Mark","Sarah"],
    "Age" : [30,32,31,23],
    "Gender": ["Male","Male","Male","Female"]
})

In [3]:
df

    Name  Age  Gender
0   Wood   30    Male
1  Steve   32    Male
2   Mark   31    Male
3  Sarah   23  Female

In [5]:
df["Age"]

0    30
1    32
2    31
3    23
Name: Age, dtype: int64

In [6]:
df["Age"].max()

32

In [7]:
df.describe()

             Age
count   4.000000
mean   29.000000
std     4.082483
min    23.000000
25%    28.250000
50%    30.500000
75%    31.250000
max    32.000000

In [17]:
#Series
ages = pd.Series([22,35,58])
ages.describe()
print(ages)

0    22
1    35
2    58
dtype: int64

In [18]:
import os 
os.getcwd()

'C:\\Users\\AK Sajin\\Mindmap for Python'